  .container {
    background:beige;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* 기본값은 nowrap이다. */
    justify-content: space-between;
    /* justify-content 중심축에서 item들을 배치하고 */
    align-items: center;
    align-content: space-between;
    /* align-content 반대축에서 item들을 배치한다. */
  }

  /* vh 은 부모에 상관없이 보이는 화면에 %를 쓸 수 있게 해준다.  */
  /* color Tool 에 가면 color 코드가 많이 있다. */

  .item {
    width: 40px;
    height: 40px;
  }
  
  .item1 {
    background: #ef9a9a;
  }
  .item2 {
    background: #f48fb1;
  }
  .item3 {
    background: #ce93d8;
  }
  .item4 {
    background: #b39ddb;
  }
  .item5 {
    background: #90caf9;
  }
  .item6 {
    background: #65ba69;
  }
  .item7 {
    background: #f4ff81;
  }
  .item8 {
    background: #f9a825;
  }
  .item9 {
    background: #ffcc80;
  }
  .item10 {
    background: #ffccbc;
  }

  